{% block content %}
<style>
  .archive-body
  {
    background-color: aliceblue;
    width: 80%;
  }
  .table-bound
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    height: 80%;
    overflow-y: scroll;
  }
  .table-bound::-webkit-scrollbar
  {
    display: none;
  }
  .icon {
    display: flex !important;
    width: 20% !important;
    height: 100% !important;
    padding-right: 8% !important;
  }
  .button-bound
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    align-items: center;
  }
  .form
  {
    margin-top:5%;
    margin-left:18%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .users
  {
    display: flex;
    height:30%;
    overflow-y: scroll;
  }
  .users::-webkit-scrollbar
  {
    display: none;
  }
</style>
<div class="archive-body">
  <!-- JavaScript Bundle with Popper -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <form class='form' method='POST' action = '/register'>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="name">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Contact</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contact" name="contact">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Register New User</button>
  </form>
  <div class="users">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">User Email</th>
          <th scope="col">User name</th>
          <th scope="col">Contact</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user['email']}}</th>
          <td>{{user['name']}}</td>
          <td>{{user['phone']}}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
</div>
{% endblock content %}