{% block content %}
<style>
  .archive-body
  {
    background-color: aliceblue;
    width: 80%;
  }
  .table-bound
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    height: 80%;
    overflow-y: scroll;
    overflow-x: scroll;
    background: black;
  }
  .table-bound::-webkit-scrollbar
  {
    width: 12px; 
  }
  .table-bound::-webkit-scrollbar-track
  {
    background-color:  rgb(7, 0, 75);
  }
  .table-bound::-webkit-scrollbar-thumb
  {
    background-color: rgb(0, 110, 255);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(45, 137, 243)
  }
  .icon {
    display: flex !important;
    width: 20% !important;
    height: 100% !important;
    padding-right: 8% !important;
  }
  .button-bound
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    align-items: center;
  }
</style>
<div class="archive-body">
  <!-- JavaScript Bundle with Popper -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <div class="table-bound">
    <table class="table table-striped table-dark table-bordered">
      <thead>
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Overall Weather</th>
          <th scope="col">Temperature</th>
          <th scope="col">Pressure</th>
          <th scope="col">Relative Humidity</th>
          <th scope="col">Absolute Humidity</th>
          <th scope="col">Battery</th>
          <th scope="col">Precipitation</th>
          <th scope="col">Dew point</th>
          <th scope="col">Wind speed</th>
          <th scope="col">Wind direction</th>
        </tr>
      </thead>
      <tbody>
        {% for i in timestamps %}
        <tr>
          <th scope="row"> {{i}}</th>
          <td>{{data[i]['overall_weather']}}%</td>
          <td>{{data[i]['temperature']}}</td>
          <td>{{data[i]['pressure']}}</td>
          <td>{{data[i]['relative_humidity']}}</td>
          <td>{{data[i]['absolute_humidity']}}</td>
          <td>{{data[i]['battery']}}%</td>
          <td>{{data[i]['precipitation']}}</td>
          <td>{{data[i]['dewpoint']}}</td>
          <td>{{data[i]['windspeed']}}</td>
          <td>{{data[i]['winddirection']}}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
  <div class="button-bound">
    <a href="/archivingdata"> <button class="btn btn-primary" type="submit" action="/archivingdata" method="POST">Archive Data</button></a>
  </div>
</div>
{% endblock content %}