<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
      body {
        background-color: #363740;
        font-family: 'Mulish', sans-serif;
        color: #A4A6B3;
      }
      .login-pad
      {
        width: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 40%;
        top: 20%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin-top: 150px;
      }
      .logo
      {
        position: relative;
        width: 80px;
        height: 80px;
        left: 42%;
        padding-top: 8%;
      }
      .app-name{
        padding: 10px;
        padding-left: 32%;
        font-size: 19px;
        padding-bottom: none;
      }
      .email
      {
        font-size: 12;
        font-weight: bold;
        padding: 10px;
        padding-left: 23px;
      }
      .heading
      {
        font-size: 24;
        padding: 10px;
        padding-left: 40%;
        color:black;
        padding-bottom: none;
      }
      .catch-phrase
      {
        font-size: 15;
        padding: 10px;
        padding-top: none;
        padding-left: 17%;
      }
      .input{
       padding: 10px;
       margin-left: 20px;
       margin-right: 20px; 
      }
      .login-button
      {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        background: #3751FF;
        border: #3751FF;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }
      input::placeholder{
        opacity: 0.4;
        font-family: inherit;
        font-size: 15;
      }
      a{
        text-decoration: none;
      }
      button:active {
        background: #000dbd;
        border: #000dbd;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
            -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
                box-shadow: inset 0px 0px 5px #c1c1c1;
          outline: none;
      }
    </style>
  </head>
  <body>
    <form method="POST" action = '/loginval'>
    <div class="login-pad">
      <img src="https://gitlab.com/ArkaprabhaChakraborty/weatherstation/-/raw/main/templates/assets/icon.svg" alt="logo" class="logo">
      <strong class="app-name">Weather Station</strong>
      <br>
      <strong class="heading">LOG IN</strong>
      <strong class="catch-phrase">Enter your email and password below</strong>
      <br>
        <strong class="email">EMAIL</strong>
        <input class="input" placeholder="Email address" name="email"></input>
        <br>
        <strong class="email">PASSWORD</strong>
        <input class="input" placeholder="Password" name="password"></input>
        <br>
        {% if password_param is sameas true%}
          <h5 style="color:red">Incorrect email or password</h5>
          <br>
        {% endif %}
        <button class="login-button">Log in</button>
      </form>
      <br>
    </div>
  </body>
</html>