{% include 'navbar.html' %}
{% include param %}
<html>
  <head>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
      body {
        background: #363740 !important;
        font-family: 'Mulish', sans-serif !important;
        color: #A4A6B3 !important;
        display: flex !important;
        margin: none !important;
      }
      .navbar-main
      {
        display:flex !important;
        width: 20% !important;
      }
      .navbar-menu-list
      {
        display:flex !important;
        flex-direction:column !important;
        width: 100% !important;
        padding-top: 10px !important;
      }
      .list-item-logo
      {
        display:flex !important;
        padding-top: 10px !important;
        padding-bottom: 50px !important;
        justify-content: space-around !important;
        align-items: center !important;
      }
      .menu-items
      {
        justify-content: space-between !important;
        padding-left: 8px !important;
      }
      .list-item
      {
        object-fit: contain !important;
        display: flex !important;
        background: #363740 !important;
        border-radius: 2% !important;
        align-items: center !important;
        justify-content: space-between !important;
        padding: 20px !important;
        width: 100% !important;
      }
      .icon
      {
        display: flex !important;
        width: 10%;
        padding-right: 8% !important;
      }
      .icon-logo
      {
        width:20% !important;
        padding-right: 8px !important;
      }
      .nav-list-text
      {
        display: flex !important;
        width: 90% !important;
      }
      .list-item:hover
      {
        background-color: #17171a !important; 
        cursor: pointer !important;
        color:white !important;
      }
      .icon:hover
      {
        color:#A4A6B3 !important;
      }
      .overview-body
      {
        display: flex !important;
        width: 80% !important;
        padding-left: 10px !important;
        padding-right: 20px !important;
        margin-top: -10px !important;
        flex-direction: column !important;
        background: #F7F8FC !important;
      }
      .icon-logo:hover
      {
        color: white !important;
      }
      h3:hover
      {
        color:white !important;
      }
      a
      {
        text-decoration: none !important;
        color:inherit !important;
      }
    </style>
  </head>
  <body>
      {% block content %} {% endblock content %}
  </body>
</html>