{% block content %}
<style>
  .archive-body
  {
    background-color: aliceblue;
    width: 80%;
  }
  .table-bound
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    height: 80%;
    overflow-y: scroll;
  }
  .table-bound::-webkit-scrollbar
  {
    display: none;
  }
  .icon {
    display: flex !important;
    width: 20% !important;
    height: 100% !important;
    padding-right: 8% !important;
  }
  .button-bound
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    align-items: center;
  }
</style>
<div class="archive-body">
  <!-- JavaScript Bundle with Popper -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <div class="table-bound">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Hardware</th>
          <th scope="col">Status</th>
          <th scope="col">Health</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            <th scope="row">{{ row.timestamp }}</th>
            <td>{{ row.hardware }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.health }}</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
  <div class="button-bound">
    <button class="btn btn-primary" type="submit">Update Data</button>
  </div>
</div>
{% endblock content %}