
{% block content%}
<div class="navbar-main">
  <div class="navbar-menu-list">
    <ul class="menu-items">
      <a href="/overview">
        <li class="list-item-logo" method="POST" action="/overview">
          <div class="icon-logo">
            <svg width="56" height="55" viewBox="0 0 56 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="29.9719" cy="24.5455" rx="25.2394" ry="24.5455" fill="#3751FF"/>
            <path d="M27.7033 28.89L27.8833 28.83C29.3233 27.79 31.5033 25.78 34.4233 22.8C35.8433 21.34 36.9933 20.19 37.8733 19.35C38.4333 18.85 38.8533 18.58 39.1333 18.54C39.8533 18.54 40.5033 18.84 41.0833 19.44C41.6833 20.02 41.9833 20.72 41.9833 21.54C41.9833 21.92 41.7433 22.59 41.2633 23.55C40.5833 24.89 39.5233 26.68 38.0833 28.92L37.2133 30.21C37.1133 30.35 37.0633 30.46 37.0633 30.54C37.0633 30.62 37.0833 30.66 37.1233 30.66C37.2033 30.66 37.4733 30.43 37.9333 29.97C38.3933 29.51 39.5233 28.48 41.3233 26.88C43.1233 25.26 44.7833 23.78 46.3033 22.44C47.8433 21.1 48.6533 20.39 48.7333 20.31C49.8933 19.15 50.9733 18.57 51.9733 18.57C52.3933 18.57 52.8233 18.79 53.2633 19.23C53.7233 19.65 53.9533 20.03 53.9533 20.37C53.9533 20.79 53.4733 21.22 52.5133 21.66C51.5733 22.08 49.3833 23.64 45.9433 26.34C45.2433 26.9 43.4833 28.46 40.6633 31.02C37.8433 33.58 35.3133 35.76 33.0733 37.56C30.8533 39.36 29.3733 40.26 28.6333 40.26C27.9133 40.26 27.3333 39.86 26.8933 39.06C26.4533 38.26 26.2333 37.46 26.2333 36.66C26.2333 35.84 26.9033 34.24 28.2433 31.86C28.4433 31.54 28.5433 31.33 28.5433 31.23C28.5433 31.13 28.5333 31.08 28.5133 31.08C28.4333 31.08 28.3133 31.16 28.1533 31.32C27.9933 31.46 27.2833 32.16 26.0233 33.42C22.4033 37.04 20.3433 38.88 19.8433 38.94C19.1833 38.8 18.4733 38.35 17.7133 37.59C16.9533 36.81 16.5733 36.05 16.5733 35.31C16.5733 33.95 17.1533 32.21 18.3133 30.09C19.4933 27.95 20.8633 25.95 22.4233 24.09C24.0033 22.21 25.6233 20.59 27.2833 19.23C28.9633 17.87 30.2633 17.19 31.1833 17.19C31.5833 17.27 31.9633 17.58 32.3233 18.12C32.7033 18.64 32.8933 19.13 32.8933 19.59C32.8933 20.73 31.2233 23.63 27.8833 28.29C27.7033 28.55 27.6133 28.72 27.6133 28.8C27.6133 28.86 27.6433 28.89 27.7033 28.89Z" fill="white"/>
            </svg>
          </div>
            <div class="nav-list-text">
              <h3>Weather Station</h3>
            </div>                   
        </li>
      </a>
      <a href="/overview">
        <li class="list-item" method="POST" action="/overview">
          <div class="icon">  
            <svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_584_253)">
            <path d="M15.5232 8.94116H8.54412L13.1921 13.5891C13.3697 13.7667 13.6621 13.7812 13.8447 13.6091C14.9829 12.5367 15.7659 11.0912 15.9956 9.46616C16.035 9.18793 15.8041 8.94116 15.5232 8.94116ZM15.0576 7.03528C14.8153 3.52176 12.0076 0.714119 8.49412 0.471767C8.22589 0.453237 8 0.679413 8 0.948236V7.5294H14.5815C14.8503 7.5294 15.0762 7.30352 15.0576 7.03528ZM6.58824 8.94116V1.96206C6.58824 1.68118 6.34147 1.45029 6.06353 1.48971C2.55853 1.985 -0.120585 5.04705 0.00412089 8.71675C0.132356 12.4856 3.37736 15.5761 7.14794 15.5288C8.6303 15.5103 10 15.0326 11.1262 14.2338C11.3585 14.0691 11.3738 13.727 11.1724 13.5256L6.58824 8.94116Z" fill="#DDE2FF"/>
            </g>
            <defs>
            <clipPath id="clip0_584_253">
            <rect width="16" height="16" fill="white"/>
            </clipPath>
            </defs>
            </svg>
          </div> 
          <div class="nav-list-text">
            Overview
          </div>
        </li>
      </a>
      <a href="/archive">
        <li class="list-item" method="POST" action="/archive">
          <div class="icon">
            <svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.55556 5.33334H12.4444V10.6667H3.55556V5.33334ZM14.6667 8C14.6667 8.73639 15.2636 9.33334 16 9.33334V12C16 12.7364 15.4031 13.3333 14.6667 13.3333H1.33333C0.596944 13.3333 0 12.7364 0 12V9.33334C0.736389 9.33334 1.33333 8.73639 1.33333 8C1.33333 7.26362 0.736389 6.66667 0 6.66667V4.00001C0 3.26362 0.596944 2.66667 1.33333 2.66667H14.6667C15.4031 2.66667 16 3.26362 16 4.00001V6.66667C15.2636 6.66667 14.6667 7.26362 14.6667 8ZM13.3333 5.11112C13.3333 4.74292 13.0349 4.44445 12.6667 4.44445H3.33333C2.96514 4.44445 2.66667 4.74292 2.66667 5.11112V10.8889C2.66667 11.2571 2.96514 11.5556 3.33333 11.5556H12.6667C13.0349 11.5556 13.3333 11.2571 13.3333 10.8889V5.11112Z" fill="white"/>
            </svg>
          </div>          
          <div class="nav-list-text">
            Archive
          </div>
        </li>
    </a>
      <a href="/maintainence">
        <li class="list-item" method="POST" action="/maintainence">
          <div class="icon">
            <svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.4 7.2C3.2825 7.2 4 6.4825 4 5.6C4 4.7175 3.2825 4 2.4 4C1.5175 4 0.8 4.7175 0.8 5.6C0.8 6.4825 1.5175 7.2 2.4 7.2ZM13.6 7.2C14.4825 7.2 15.2 6.4825 15.2 5.6C15.2 4.7175 14.4825 4 13.6 4C12.7175 4 12 4.7175 12 5.6C12 6.4825 12.7175 7.2 13.6 7.2ZM14.4 8H12.8C12.36 8 11.9625 8.1775 11.6725 8.465C12.68 9.0175 13.395 10.015 13.55 11.2H15.2C15.6425 11.2 16 10.8425 16 10.4V9.6C16 8.7175 15.2825 8 14.4 8ZM8 8C9.5475 8 10.8 6.7475 10.8 5.2C10.8 3.6525 9.5475 2.4 8 2.4C6.4525 2.4 5.2 3.6525 5.2 5.2C5.2 6.7475 6.4525 8 8 8ZM9.92 8.8H9.7125C9.1925 9.05 8.615 9.2 8 9.2C7.385 9.2 6.81 9.05 6.2875 8.8H6.08C4.49 8.8 3.2 10.09 3.2 11.68V12.4C3.2 13.0625 3.7375 13.6 4.4 13.6H11.6C12.2625 13.6 12.8 13.0625 12.8 12.4V11.68C12.8 10.09 11.51 8.8 9.92 8.8ZM4.3275 8.465C4.0375 8.1775 3.64 8 3.2 8H1.6C0.7175 8 0 8.7175 0 9.6V10.4C0 10.8425 0.3575 11.2 0.8 11.2H2.4475C2.605 10.015 3.32 9.0175 4.3275 8.465Z" fill="white"/>
            </svg>
          </div>            
          <div class="nav-list-text">
            Maintainence
          </div>
        </li>
      </a>
      <a href="/accessmanagement"> 
        <li class="list-item" method="POST" action="/accessmanagement">
          <div class="icon">
            <svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 8C10.2094 8 12 6.20937 12 4C12 1.79063 10.2094 0 8 0C5.79063 0 4 1.79063 4 4C4 6.20937 5.79063 8 8 8ZM10.9937 9.01875L9.5 15L8.5 10.75L9.5 9H6.5L7.5 10.75L6.5 15L5.00625 9.01875C2.77812 9.125 1 10.9469 1 13.2V14.5C1 15.3281 1.67188 16 2.5 16H13.5C14.3281 16 15 15.3281 15 14.5V13.2C15 10.9469 13.2219 9.125 10.9937 9.01875Z" fill="white"/>
            </svg>          
          </div>
          <div class="nav-list-text">
            Access Management
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>
{% endblock content%}